# GEO CODING!

In [4]:
pip install geopy

Requirement already satisfied: geopy in c:\users\blake\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\blake\anaconda3\lib\site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [29]:
df = pd.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [28]:
df2 = df
df2["Address"] = df2["Address"]+ ", "+ df["City"]+", "+["State"]+", "+df["Country"]
df2.head()

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, State, USA, San F...",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, State, USA, San...",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, State, USA, San Fr...",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, State, USA, San F...",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, State, USA, Sa...",San Francisco,California,USA,Sanchez,12

In [2]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

In [7]:
nom.geocode("3995 23rd St, San Francisco, CA 94114")

Location(3995 23rd St, San Francisco, California, 94114, (37.75292200397371, -122.43169700840102, 0.0))

In [9]:
n=nom.geocode("50333 Carino Ct, Paw Paw, MI 49079")

In [11]:
n.latitude # home

42.23620000865134

In [12]:
n.longitude #home

-85.8909399834885

# Make a new column that is zip from address

In [30]:
# Rerun the import script then directly run this....
df2 =  df 
df2["Address"] = df2["Address"]+ ", "+ df["City"]+", "+["State"]+", "+df["Country"]
df2.head()

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, State, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, State, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, State, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, State, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, State, USA",San Francisco,California,USA,Sanchez,12

In [31]:
df2.iloc[0:3,1] # get same thing as above

0      3666 21st St, San Francisco, State, USA
1    735 Dolores St, San Francisco, State, USA
2       332 Hill St, San Francisco, State, USA
Name: Address, dtype: object

In [33]:
# Apply to apply a method to whole column
df2["Coordinates"] = df2["Address"].apply(nom.geocode)# get values for longitude and lat
df2

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, State, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411..."
1,2,"735 Dolores St, San Francisco, State, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94..."
2,3,"332 Hill St, San Francisco, State, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114..."
3,4,"3995 23rd St, San Francisco, State, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411..."
4,5,"1056 Sanchez St, San Francisco, State, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9..."
5,6,"551 Alvarado St, San Francisco, State, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9..."

In [35]:
df2.Coordinates[0]

Location(3666 21st St, San Francisco, California, 94114, (37.756648011392286, -122.42937496976432, 0.0))

In [36]:
df2.Coordinates[0].latitude

37.756648011392286

In [37]:
df2.Coordinates[0].longitude

-122.42937496976432

In [41]:
# we have to get ride of none value in coordinates
# lambda storing values in x and then applying lattitude
# lambda applys latitude to x for each ro then assign to latitude if x is not none
df2["latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df2["longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x != None else None)
df2

,ID,Address,City,State,Country,Name,Employees,Coordinates,latitude,longitude
0,1,"3666 21st St, San Francisco, State, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,"735 Dolores St, San Francisco, State, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,"332 Hill St, San Francisco, State, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,"3995 23rd St, San Francisco, State, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,"1056 Sanchez St, San Francisco, State, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,"551 Alvarado St, San Francisco, State, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229